<li>
	{{burger_name}}

	<button class="change-devoured" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}It's all gone!{{else}}Ready to Eat!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Remove Burger</button>
</li>
